# Breast Cancer Dataset

In [1]:
import numpy as np 
import pandas as pd

Read Data

In [2]:
breast_cancer = './input/dat'
data = pd.read_csv(breast_cancer, sep = " ", header=None)

Show top 10 entries

In [3]:
data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,2,-0.860107,-0.111111,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
1,NaN,2,-0.859671,-0.111111,-0.333333,-0.333333,-0.111111,0.333333,1.000000,-0.555556,-0.777778,-1.000000
2,NaN,2,-0.857807,-0.555556,-1.000000,-1.000000,-1.000000,-0.777778,-0.777778,-0.555556,-1.000000,-1.000000
3,NaN,2,-0.857680,0.111111,0.555556,0.555556,-1.000000,-0.555556,-0.333333,-0.555556,0.333333,-1.000000
4,NaN,2,-0.857569,-0.333333,-1.000000,-1.000000,-0.555556,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
5,NaN,4,-0.857554,0.555556,1.000000,1.000000,0.555556,0.333333,1.000000,0.777778,0.333333,-1.000000
6,NaN,2,-0.857408,-1.000000,-1.000000,-1.000000,-1.000000,-0.777778,1.000000,-0.555556,-1.000000,-1.000000
7,NaN,2,-0.857339,-0.777778,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
8,NaN,2,-0.855171,-0.777778,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-1.000000,-1.000000,-0.111111
9,NaN,2,-0.855171,-0.333333,-0.777778,-1.000000,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-1.000000

How many samples?

In [4]:
data.shape

(683, 12)

Drop first column

In [5]:
data =data.drop(0, axis = 1)
data.head(20)

,1,2,3,4,5,6,7,8,9,10,11
0,2,-0.860107,-0.111111,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
1,2,-0.859671,-0.111111,-0.333333,-0.333333,-0.111111,0.333333,1.000000,-0.555556,-0.777778,-1.000000
2,2,-0.857807,-0.555556,-1.000000,-1.000000,-1.000000,-0.777778,-0.777778,-0.555556,-1.000000,-1.000000
3,2,-0.857680,0.111111,0.555556,0.555556,-1.000000,-0.555556,-0.333333,-0.555556,0.333333,-1.000000
4,2,-0.857569,-0.333333,-1.000000,-1.000000,-0.555556,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
5,4,-0.857554,0.555556,1.000000,1.000000,0.555556,0.333333,1.000000,0.777778,0.333333,-1.000000
6,2,-0.857408,-1.000000,-1.000000,-1.000000,-1.000000,-0.777778,1.000000,-0.555556,-1.000000,-1.000000
7,2,-0.857339,-0.777778,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
8,2,-0.855171,-0.777778,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-1.000000,-1.000000,-0.111111
9,2,-0.855171,-0.333333,-0.777778,-1.000000,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-1.000000
10,2,-0.854841,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.555556,-1.000000,-1.000000
11,2,-0.854709,-0.777778,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-1.000000
12,4,-0.853868,-0.111111,-0.555556,-0.555556,-0.555556,-0.777778,-0.555556,-0.333333,-0.333333,-1.000000
13,2,-0.853540,-1.000000,-1.000000,-1.000000,-1.000000,-0.777778,-0.555556,-0.555556,-1.000000,-1.000000
14,4,-0.853454,0.555556,0.333333,-0.111111,1.000000,0.333333,0.777778,-0.111111,-0.111111,-0.333333
15,4,-0.852997,0.333333,-0.333333,0.111111,-0.333333,0.111111,-1.000000,-0.333333,-0.555556,-1.000000
16,2,-0.852842,-0.333333,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-1.000000
17,2,-0.852671,-0.333333,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
18,4,-0.852543,1.000000,0.333333,0.333333,0.111111,-0.333333,1.000000,-0.333333,-1.000000,-0.777778
19,2,-0.852536,0.111111,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000

Extract Labels: -1 healthy, +1 malignant

In [6]:
y = data[data.columns[0]]-3
y.head(20)

0    -1
1    -1
2    -1
3    -1
4    -1
5     1
6    -1
7    -1
8    -1
9    -1
10   -1
11   -1
12    1
13   -1
14    1
15    1
16   -1
17   -1
18    1
19   -1
Name: 1, dtype: int64

Extract Features

In [7]:
X =data.drop(1, axis = 1)
X.head(20)

,2,3,4,5,6,7,8,9,10,11
0,-0.860107,-0.111111,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
1,-0.859671,-0.111111,-0.333333,-0.333333,-0.111111,0.333333,1.000000,-0.555556,-0.777778,-1.000000
2,-0.857807,-0.555556,-1.000000,-1.000000,-1.000000,-0.777778,-0.777778,-0.555556,-1.000000,-1.000000
3,-0.857680,0.111111,0.555556,0.555556,-1.000000,-0.555556,-0.333333,-0.555556,0.333333,-1.000000
4,-0.857569,-0.333333,-1.000000,-1.000000,-0.555556,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
5,-0.857554,0.555556,1.000000,1.000000,0.555556,0.333333,1.000000,0.777778,0.333333,-1.000000
6,-0.857408,-1.000000,-1.000000,-1.000000,-1.000000,-0.777778,1.000000,-0.555556,-1.000000,-1.000000
7,-0.857339,-0.777778,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
8,-0.855171,-0.777778,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-1.000000,-1.000000,-0.111111
9,-0.855171,-0.333333,-0.777778,-1.000000,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-1.000000
10,-0.854841,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.555556,-1.000000,-1.000000
11,-0.854709,-0.777778,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-1.000000
12,-0.853868,-0.111111,-0.555556,-0.555556,-0.555556,-0.777778,-0.555556,-0.333333,-0.333333,-1.000000
13,-0.853540,-1.000000,-1.000000,-1.000000,-1.000000,-0.777778,-0.555556,-0.555556,-1.000000,-1.000000
14,-0.853454,0.555556,0.333333,-0.111111,1.000000,0.333333,0.777778,-0.111111,-0.111111,-0.333333
15,-0.852997,0.333333,-0.333333,0.111111,-0.333333,0.111111,-1.000000,-0.333333,-0.555556,-1.000000
16,-0.852842,-0.333333,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.777778,-1.000000,-1.000000
17,-0.852671,-0.333333,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000
18,-0.852543,1.000000,0.333333,0.333333,0.111111,-0.333333,1.000000,-0.333333,-1.000000,-0.777778
19,-0.852536,0.111111,-1.000000,-1.000000,-1.000000,-0.777778,-1.000000,-0.555556,-1.000000,-1.000000

How many malignant samples?

In [8]:
y.loc[y == 1]

5      1
12     1
14     1
15     1
18     1
20     1
21     1
24     1
31     1
35     1
37     1
38     1
39     1
40     1
41     1
42     1
44     1
47     1
48     1
49     1
50     1
51     1
52     1
53     1
54     1
55     1
56     1
57     1
58     1
60     1
      ..
559    1
566    1
567    1
571    1
573    1
575    1
576    1
577    1
579    1
588    1
589    1
590    1
593    1
595    1
596    1
597    1
610    1
617    1
620    1
632    1
642    1
652    1
653    1
654    1
664    1
665    1
675    1
680    1
681    1
682    1
Name: 1, Length: 239, dtype: int64

Split Data into Test and Training Set

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix
from sklearn.linear_model import LogisticRegression




X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle = True)

print(np.shape(X_train))
print(np.shape(y_test))

(512, 10)
(171,)

Choose Model (logistic regression)

In [10]:
clf = LogisticRegression()

Fit model to data

In [11]:

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

/home/philipp/Schreibtisch/Oberwolfach/Notebooks/OWA/local/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Display results

In [12]:
print("Actual breast cancer : ")
print(y_test.values)

print("\nPredicted breast cancer : ")
print(y_pred)

print("\nAccuracy score : %f" %(accuracy_score(y_test, y_pred) * 100)) #fraction of correct predictions
print("Recall score : %f" %(recall_score(y_test, y_pred) * 100)) #true positives/(true positives + false negatives)
print("ROC score : %f\n" %(roc_auc_score(y_test, y_pred) * 100)) # 'receiver operating characteristic'
print(confusion_matrix(y_test, y_pred)) #C_{i,j} = number of samples in group i, predicted in group j

Actual breast cancer :
[-1  1 -1 -1  1 -1 -1  1 -1 -1  1 -1  1  1 -1 -1 -1  1  1 -1 -1 -1  1 -1
 -1 -1  1  1 -1 -1 -1 -1 -1 -1 -1  1  1  1 -1  1  1 -1  1 -1  1  1 -1 -1
 -1 -1 -1 -1 -1  1  1  1  1 -1  1  1 -1  1 -1 -1 -1 -1 -1  1  1  1 -1  1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1  1 -1  1  1  1  1 -1  1 -1 -1 -1 -1
 -1  1  1  1  1 -1 -1 -1  1  1  1  1  1 -1  1  1  1  1 -1 -1 -1 -1  1 -1
  1  1 -1 -1 -1 -1  1 -1 -1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1 -1
 -1  1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1  1 -1  1  1 -1 -1  1 -1  1
  1  1 -1]

Predicted breast cancer :
[-1  1 -1 -1  1 -1 -1  1 -1 -1  1 -1  1  1 -1 -1 -1  1  1 -1 -1 -1  1 -1
 -1 -1  1  1 -1 -1 -1 -1 -1 -1 -1  1  1  1 -1  1  1  1  1 -1  1  1 -1 -1
 -1 -1 -1 -1 -1  1  1  1  1 -1  1  1 -1 -1 -1 -1 -1 -1 -1  1  1  1 -1  1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1  1  1 -1  1  1  1 -1  1 -1 -1 -1 -1
 -1  1  1  1  1 -1 -1 -1  1  1  1  1  1 -1 -1 -1  1  1 -1 -1 -1 -1  1 -1
  1  1 -1 -1 -1 -1  1 -1 -1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1  1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1  1 -1  1  1 -1 -1  1 -1  1
  1  1 -1]

Accuracy score : 95.906433
Recall score : 92.537313
ROC score : 95.307118

[[102   2]
 [  5  62]]